<% if !@fav_game.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @fav_game.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @fav_game, html: { multipart: true } do |f| %>
      <%= f.label "Game id" %>
      <%= f.text_field :gid %>
      <%= f.label "Upload a PGN file" %>
      <%= f.file_field :pgn %>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>