<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Welcome to LichessBase!</h1>
            <p>This is a platform for all chess players to maintain all their games. With LichessBase, 
            you can not only view but you can analyze your games and improve on your skills.</p>
            <p><a class="btn btn-primary btn-large">Click to know more</a>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Latest Games</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h3>Categories</h3>
                            
                          <ul class="list-group">
                        <% Gametype.all.each do |category| %>
                           <!-- <li class="<%= 'active' if params[:category] == category.name %>"> -->
                           <!-- <%= link_to category.name, games_path(category: category.name), class: "link" %> -->
                          
                            <li class="list-group-item"><%= link_to category.name, games_path(category: category.name) %></li>
                          </ul>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h3>Blitz</h3>
                            <% games=Game.where("gametype_id= #{Gametype.find_by(name: 'Blitz').id}").order("created_at DESC") %>
                            <% if !games.nil? %>
                                <% games[0..4].each do |game| %>
                                    <li class="list-group-item"><%=link_to "#{game.white.pname} vs #{game.black.pname}"%></li>
                                <%end%>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Bullet</h3>
                            <% games=Game.where("gametype_id= #{Gametype.find_by(name: 'Bullet').id}").order("created_at DESC") %>
                            <% if !games.nil? %>
                                <% games[0..4].each do |game| %>
                                    <li class="list-group-item"><%=link_to "#{game.white.pname} vs #{game.black.pname}"%></li>
                                <%end%>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Classical</h3>
                            <% games=Game.where("gametype_id= #{Gametype.find_by(name: 'Classical').id}").order("created_at DESC") %>
                            <% if !games.nil? %>
                                <% puts games.length %>
                                <% games[0..4].each do |game| %>
                                    <li class="list-group-item"><%=link_to "#{game.white.pname} vs #{game.black.pname}",game_path(game)%></li>
                                <%end%>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
